mark {
  background-color: #ff9;
  color: #000;
  font-style: normal;
  font-weight: bold;
}

.hidden {
  display: none;
}

body {
  padding-top: 50px;
  overflow: hidden;
}

@media (max-width: 1199px) {
  .navbar .navbar-brand {
      position: relative;
      height: 60px;
      line-height: 30px;
      color: inherit;
      height: 60px;
      padding: 15px 15px;
  }
}

@media screen and (max-width: 768px) {
  body {
    padding-top: 50px;
  }
}

@media (min-width: 768px) {
  .well {
    height:100vh;
  }

  .scrollable {
    position: absolute;
    overflow-y: auto;
    height:100%;
    top: 60px;
    bottom: 0;
    right: 0;
    float: right;
    width: 66%;
    background-color: rgba(230, 230, 230, 0.6);
    padding-bottom: 100px;
    padding-top: 15px;
  }

  .noscrollable {
    position: absolute;
    overflow-y: hidden;
    height:100%;
    top: 30vh;
    bottom: 0;
    left: 0;
    width: 34%;
    padding: 25px;
  }
}

.navbar {
  margin-bottom: 0;
}

.label {
  margin-right: 2px;
}

.focusable:focus {
  outline: 2px solid #04A797;
}

ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style: none;
}

li {
  padding: 8px 0px 8px 0px;
  border-top: 0.1rem solid #e6e6e3;
}

li:first-child {
  border-top: none;
}

li:active, li:focus {
  outline: none !important;
  border-bottom: 2px solid rgba(0,150,136,1) !important;
}

iframe {
  border: none;
}

#chat-history {
  height: 60vh;
}

.chat {
  padding: 15px 20px 15px 20px;
  margin:15px;
  border-radius: 10px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
  width: 60%;
}

.bot-chat {
  background-color: rgba(0,150,136,0.5);
  color: #fff;
  float:left;
}

.user-chat {
  background-color: white;
  /* border: 0.5px solid darkgrey;*/
  float:right;
}

#search {
  padding-left: 10px;
}

#suggestion-tag {
  width: 100%;
  word-wrap: break-word;
}

#suggestions-select {
  margin-top: 20px;
  max-height: 200px;
  overflow-y: auto;
}

.label{
  display: inline-block;
  word-wrap; normal;
}

/* input field */
/* BOTTOM BARS ================================= */
.bar  { position:relative; display:block; width:100%; }
.bar:before, .bar:after   {
  content:'';
  height:2px; 
  width:0;
  bottom:8px; 
  position:absolute;
  background:rgba(0,150,136, 1);
  transition:0.2s ease all; 
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%; 
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}

input:focus {
    box-shadow: none !important;
}


#tip {
  margin: 10px 0;
}

