mark {
  background-color: #ff9;
  color: #000;
  font-style: normal;
  font-weight: bold;
}

.hidden {
  display: none;
}

body {
  padding-top: 50px;
}

@media screen and (max-width: 768px) {
  body {
    padding-top: 50px;
  }
}

.navbar {
  margin-bottom: 0;
}

.label {
  margin-right: 2px;
}

.focusable:focus {
  outline: 2px solid #04A797;
}

ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style: none;
}

li {
  margin-top: 8px;
  padding-top: 5px;
  border-top: 0.1rem solid #e6e6e3;
}

li:first-child {
  border-top: none;
}
